// 项目提供的scss的全局变量

// 左侧菜单的宽度
$leftMenuWidth: 260px;
$leftMenuMinWidth: 65px;
// 左侧菜单的背景颜色
$leftMenuBgc:#001529;

// 顶部菜单栏的高度
$topMenuHeight:70px;

// logo的宽度
$logoHight: 50px;      
// logo文字大小
$logoFontSize: 20px;